<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Developer</h2>
                <hr class="light">
                <p class="text-faded">Hi! I'm Kelsey, a 21 year-old developer from London. I'm a recent law graduate who has been programming for a few months now, specialising in HTML, CSS, Javascript and learning many more. I'm currently completing my Master's degree in Computer Science and hope to establish a career in software development! In the meantime though, I enjoy creating websites for clients and working on my own personal projects. Feel free to browse what I've created and get in contact if you'd like some work done!</p>
                <h2 class="section-heading">Services</h2>
                <hr class="light">
				<ul class="text-faded">
					<li>Website Building (Source code only): This comes with an upfront cost, so email me with your website's needs and we'll come up with a quote! </li>
					<li>Website Building, Hosting and Maintenance: If you'd like me to host and maintain your website as well, it's an additional monthly cost of just £10! </li>
				</ul>
				<a href="#portfolio" class="btn btn-default btn-xl page-scroll">View Projects</a>
            </div>
        </div>
    </div>
</section>
