<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://kelsey-myers.github.io/google-homepage/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design Project
                            </div>
                            <div class="project-name">
                                Google Homepage (Concept)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			 <div class="col-lg-4 col-sm-6">
                <a href="https://kelmoneschoolofmotoring.co.uk" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Client Website
                            </div>
                            <div class="project-name">
                                Kelmone School of Motoring
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://rahmone.shop" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Client Website
                            </div>
                            <div class="project-name">
                                RahmoneTK
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://tttradequotes.co.uk" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Client Website
                            </div>
                            <div class="project-name">
                                TT Trade Quotes (In Progress)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                Coming Soon!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="" usemap="#others">
                    <map name="others">
					<area shape="rect" coords="0,0, 220,0, 220,350, 0,350" href="https://kelsey-myers.github.io/tic-tac-toe-react/">
					</map>
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Various Mini Projects
                            </div>
                            <div class="project-name">
                                Tic-Tac-Toe
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
